*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Lato', sans-serif;
	list-style-type: none;
}
html{overflow: hidden;}
body{
    height: 100vh;
    width: 100vw;
}
h1{
    font-size: 72px;
    margin-top: 2.5%;
    text-align: center;
    text-transform: uppercase;
}
.grid{
    display: grid;
    position: absolute;
    top: 20%;
    transform: translatex(-50%);
    left: 50%;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px 150px;
}
button{
    width: 100px;
    height: 50px;
    font-size: 28px;
    position: absolute;
}
.shuffle-button{
    top: 55%;
    left: 80%;
    transform: translate(-80%, -55%);
}
.reset-button{
    top: 45%;
    left: 80%;
    transform: translate(-80%, -45%);
}
.cell{
    width: 150px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    display: block;
    text-align: center;
    cursor: pointer;
}
.cell-text{ 
    margin: 0 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
    font-weight: bolder;
    color: #242424;
    border: none !important;
    z-index: 1;
    user-select: none; 
}
.circle{
    opacity: 0.5;
    z-index: 2;
    border: none !important;
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: none;
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
}

.grid :nth-child(-n+5){
    border-top: 2px solid black;
}
.grid :nth-child(n+21){
    border-bottom: 2px solid black;
}
.grid :nth-child(5n+1){
    border-left: 2px solid black;
}
.grid :nth-child(5n-5){
    border-right: 2px solid black;
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
    .circle{
        width: 80px;
        height: 80px;
        margin-top: 18px;
        margin-left: 18px;
    }
    .grid{
        grid-template-columns: 116px 116px 116px 116px 116px;
        grid-template-rows: 116px 116px 116px 116px 116px;
    }
    .cell {
        width: 116px;
        height: 116px;
    }
    .cell-text{
        font-size: 12px;
    }
}